body {
    background: #3f3f3f;
}

div.A0 {
    width: 400px;
    color: #ff3f3f;
    background: #bf0000;
}

hr {
    color: #bfbfbf;
}

button {
    background: #5f5f5f;
}

button.c0 {
    color: #efefef;
}

button.c1 {
    color: #dfdfdf;
}

button.c2 {
    color: #bfbfbf;
}

button.cw {
    color: #7f7f7f;
}

button.ca {
    color: #0000ff;
}

div.A01 {
    color: #ff9f3f;
    background: #bf5f00;
}

div.A02 {
    color: #ffff3f;
    background: #bfbf00;
}

div.A03 {
    color: #9fff3f;
    background: #5fbf00;
}

div.A04 {
    color: #3fff3f;
    background: #00bf00;
}

div.A05 {
    color: #3fff3f;
    background: #00bf00;
}

div.A06 {
    color: #3fff9f;
    background: #00bf5f;
}

div.A07 {
    color: #3fffff;
    background: #00bfbf;
}

div.A08 {
    color: #3f9fff;
    background: #005fbf;
}
